# Special folders (deployment, runtime data etc.)
_localization
_locback
_dev_site_data
_deploy*
_work
_work_align
_private_content

# Data and content
**/files/data
**/files/content

# Visual Studio / .NET Core generic
node_modules/
.vs/
obj/
bin/
prod-js/
prod-style/
prod/
**/dev-style/*.css
**/dev/*.css
project.lock.json
*.user
/*.tar.gz
**/html/_cont*.html
**/sitemap.txt


