@clrBodyText: #303030;
@clrGray: #a0a0a0;
@clrDefBg: #fff;
@clrStrong: #325e87;
@clrMedium: #638fb8;
@clrLight: #d3e3f2;
@clrLightLight: #f0f4f7;

@clrLightAccent: #ffe4cc;
@clrMediumAccent: #ffc898;
@clrStrongAccent: #e3781c;
@clrStrongRed: #8c2c1b;
@clrLightRed: #fae7e3;
@clrLightGreen: #f1f9eb;
@clrMediumGreen: #7dad73;
@clrStrongGreen: #338323;
@clrLightGray: #e9e9e9;
@clrLightLightGray: #f4f4f4;

@footerHeight: 3rem;
@footerPushHeight: 3rem;
@contentWidth: 45rem;

@fntBase: "Noto Sans", sans-serif;
@fntSerif: Neuton, serif;
@fntSansAlt: Ubuntu, sans-serif;
@fntZho: SimHei, "Microsoft Yahei", STXihei, STHeitiSC-Medium, DengXian, sans-serif;
@fntZhoCorp: "Microsoft YaHei", "Microsoft JhengHei", STXihei, STHeitiSC-Medium, DengXian, sans-serif;

