@import "defines.less";

#newEntry { position: relative; width: 100%; clear: both; }

#newEntrySimp {
  display: block; position: relative; float: left; box-sizing: border-box; width: calc(100% - 10rem);
  font-size: 1.5rem; font-family: "Microsoft YaHei", SimHei, STXihei, STHeitiSC-Medium, DengXian, "????", sans-serif;
  background-color: @clrLightLight; border: 0.1em solid @clrLightLight; border-radius: 0.1rem;
  color: @clrBodyText;
  appearance: none; outline: none;
  .formBlock.active & { background-color: @clrLightLight; border: 0.1rem solid @clrMedium; }
}

#newEntryTradCtrl,
#newEntryPinyinCtrl,
#newEntryTrg {
  display: block; position: relative; float: left; box-sizing: border-box; width: calc(100% - 10rem);
  font-size: 1.5rem; font-family: "Microsoft YaHei", SimHei, STXihei, STHeitiSC-Medium, DengXian, "????", sans-serif;
  background-color: @clrLightLight;
  border: 0.1rem solid @clrLightLight;
  border-radius: 0.1rem;
}

.formBlock.active #newEntryTradCtrl,
.formBlock.active #newEntryPinyinCtrl,
.formBlock.active #newEntryTrg {
  background-color: @clrLightLight;
  border: 0.1rem solid @clrMedium;
}

.newEntryTradPos,
.newEntryPinyinPos {
  display: block; position: relative; float: left;
}

.newEntryTradPos span,
.newEntryPinyinPos span {
  display: inline-block; position: relative; float: left; clear: both;
  cursor: default;
  border-radius: 0.1em;
  color: #808080;
}

.newEntryTradPos span:first-child,
.newEntryPinyinPos span:first-child {
  color: @clrBodyText;
}

.formBlock.ready .tradAlt,
.formBlock.ready .pyAlt {
  display: none;
}

.formBlock.active .newEntryTradPos span:hover,
.formBlock.active .newEntryPinyinPos span:hover {
  background-color: #A8C8E5;
}

.formBlock.active .newEntryTradPos span:first-child:hover,
.formBlock.active .newEntryPinyinPos span:first-child:hover {
  background-color: inherit;
}


#newEntryPinyinCtrl {
  font-size: 1rem;
  font-family: "Noto Sans", sans-serif;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.newEntryPinyinPos {
  text-align: center;
}

.newEntryPinyinPos span {
  box-sizing: border-box;
  padding: 0 0.1rem 0 0.1rem;
  margin: 0 0.1rem 0 0.1rem;
  width: 100%;
}

#newEntryTrg {
  font-size: 0.9rem;
  font-family: "Noto Sans", sans-serif;
  color: @clrBodyText;
  height: 9rem;
  padding: 0 0.1rem 0 0.1rem;
  box-sizing: border-box;
  resize: vertical;
}

#newEntryNote {
  display: block;
  position: relative;
  float: left;
  font-size: 0.9rem;
  font-family: "Noto Sans", sans-serif;
  padding: 0.4rem;
  background-color: @clrLightLight;
  border: 0.1rem solid @clrLightLight;
  border-radius: 0.1rem;
  color: @clrBodyText;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.formBlock.active #newEntryNote {
  background-color: @clrLightLight;
  border: 2pt solid @clrMedium;
}

.newEntryKnown {
  display: none;
  position: absolute;
  top: -0.2rem;
  left: 11.4rem;
  font-size: 30pt;
  color: @clrMedium;
  cursor: default;
}

#blockPinyin .newEntryKnown {
  top: -0.2rem;
}

.newEntryKnown.visible {
  display: block;
}
