@import "defines.less";

// Page basics; including provisions for sticky footer.
* { margin: 0; }
html { 
  height: 100%; font-size: 12pt;
  &.respfont-small { font-size: 10pt; }
}

body {
  position: relative; width: 100%; height: 100%; overflow-y: scroll; margin: 0; padding: 0;
  font-family: @fntBase; 
  color: @clrBodyText; background-color: @clrDefBg; visibility: hidden;
}

// Dynamic content plus sticky footer http://ryanfait.com/sticky-footer/
#dynPage {
  position: relative; margin: 0 auto 0 auto; width: @contentWidth; overflow-y: auto; height: auto;
  padding: 11rem 0.8rem 0 0.8rem; box-sizing: border-box; transition: none;
  &.nosubmenu { padding-top: 7rem; padding-left: 0.45rem; }
  body.chd &.search { padding-top: 8.5rem; padding-left: 0.45rem; }
  body.hdd &.search { padding-top: 7rem; padding-left: 0.45rem; }
  &.fading { opacity: 0.2; }
  html.resplay-stickleft & { margin: 0 0 0 7.5rem; }
  html.resplay-hamburger & {
    margin: 0; width: 100%; padding: 8.5rem 1rem 0 1rem;
  }
  html.resplay-hamburger body.chd &.search { padding-top: 10.5rem; }
  html.resplay-hamburger &.search { padding-left: 1rem; }
}
#push { height: @footerHeight }
#footer {
  box-sizing: border-box; height: @footerPushHeight; position: relative; width: 100%; overflow-y: auto;
  text-align: center; font-size: 9pt; padding-top: 1rem;
  #imprint { cursor: pointer; color: @clrStrongRed; }
}
#hwrap {
  position: relative; float: left; width: 100%;
  min-height: 100%; height: auto !important; height: 100%;
  margin: 0 auto -@footerHeight;
}

// HIDDEN: Login form to remember password
#hiddenLoginForm { display: none; }
#hiddenLoginFrame { display: none; }

// FIXED: Optional on-screen debug area
#debug { position: fixed; top: 0; left: 0; z-index: 20; background: @clrDefBg; }

// FIXED: Width test for script-driven responsive layout
#emMeasure {
  margin-left: -16000px; font-size: 10pt;
  position: fixed; top: 0; left: 0; border: 0; padding: 0;
}

// FIXED: Header stuff: logo, menu, search input
#headerStickFull {
  position: fixed; top: 0; width: 100%; padding-top: 0.5rem; height: 5rem; background-color: @clrDefBg;
  z-index: 11;
  > div { background-color: @clrDefBg; }
  #headerFull {
    margin: 0 auto 0 auto; width: @contentWidth; height: 6.6rem;
    body.hdd & { height: 4.6rem; }
    html.resplay-stickleft & { margin: 0 0 0 7.5rem; }
  }
  #subHeader {
    display: none; margin: 0 auto 0 auto; width: @contentWidth; padding-top: 0.4rem; height: 2.6rem;
    body.chd & { margin-top: -2rem; }
    html.resplay-stickleft & { margin: 0 0 0 7.5rem; }
    &.visible { display: block; }
  }
  html.resplay-hamburger & { display: none; }
}

// FIXED: Header stuff in hamburger mode
#headerStickHamburger {
  position: fixed; top: 0; width: 100%; box-sizing: border-box; padding: 0.3rem 0.5rem 0.5rem 0.5rem; height: 7rem;
  z-index: 11; background-color: @clrLight; display: none;
  html.resplay-hamburger & { display: block; }
  // Top half of header
  #hdrBurgerTop {
    height: 50%; width: 100%; box-sizing: border-box; position: relative; float: left;
    font-family: @fntSerif; font-size: 2rem; color:@clrStrongAccent; cursor: default;
    i, span { position: relative; float: left; display: inline-block; }
    i {
      z-index: 12;
      margin: 0 1rem 0 0; padding: 0 0.5rem 0.1rem 0.5rem; color: @clrStrong; font-size: 2.5rem; cursor: pointer;
      border: 1pt solid @clrLight;
    }
    span b { font-family: @fntZho; font-weight: normal; }
  }
  // Bottom half of header, when in search mode
  .hdrSearch {
    display: none; height: 50%; width: 100%; position: relative; float: left; padding: 0;
    &.on { display: block; }
    .searchBox {
      box-sizing: border-box; padding-right: 0.2rem; width: 100%; height: 3rem;
      background-color: @clrLightLight; cursor: default;
      .searchBoxRight { float: right; width: 6.9rem; }
      .searchBoxLeft { overflow: hidden; padding: 0 0.5rem 0 0.5rem; }
      .txtSearch {
        background-color: @clrLightLight; box-sizing: border-box; padding: 0;
        border: 0; margin-top: 0.2rem; font-size: 2rem; width: 100%; color: @clrBodyText;
      }
      i {
        display: block; position: relative; float: left;
        height: 2.65rem; margin: 0.2rem 0 0 0; padding: 0.4rem 0.3rem 0 0.3rem; box-sizing: border-box;
        font-size: 1.8rem; color: @clrMedium;
        &:hover { background-color: @clrLight; }
      }
    }
    .searchSelect {
      width: 100%; position: fixed; left: 0; top: 7rem;
      background-color: @clrDefBg;
      .searchMode {
        box-sizing: border-box; border-bottom: 1pt solid @clrLight; width: 45%;
        display: block; position: relative; float: left; font-size: 1rem;
        height: 2rem; padding: 0.2rem 0 0 0; text-decoration: none;
        text-transform: uppercase; text-align: center; color: @clrStrong; cursor: default;
        &.on, &.on:hover { background-color: @clrLight; }
        &:hover { background-color: @clrLightLight; }
      }
      .searchModeInfo {
        box-sizing: border-box; width: 10%; height: 2rem; overflow: hidden;
        display: block; position: relative; float: left; font-size: 1.3rem;
        border-bottom: 1pt solid @clrLight; border-left: 1pt solid @clrLight; padding-top: 0.05rem;
        color: @clrMedium; text-decoration: none; cursor: pointer; text-align: center;
      }
    }
    &.welcome .searchSelect { display: none; }
  }
  .hdrTitle {
    display: none; height: 2rem; width: 100%; position: relative; float: left; padding: 0.5rem 0 0 0.5rem; white-space: nowrap;
    &.on { display: block; }
    font-size: 1.5rem; font-family: @fntSansAlt; color: @clrStrong;
  }
  // Hamburger menu, when shown
  #hdrHamMenu {
    z-index: 11; font-size: 140%;
    position: fixed; top: 2.9rem; left: 0.5rem; min-width: 20rem; border: 1pt solid @clrMedium; background-color: @clrDefBg;
    box-sizing: border-box; padding: 1rem 0.5rem 1rem 0.5rem; display: none;
    a {
      display: block; position: relative; float: left; width: 100%; box-sizing: border-box;
      margin-bottom: 0.5rem; padding: 0.4rem 0 0.4rem 0.5rem;
      font-family: @fntSansAlt; text-decoration: none; color: @clrStrong;
      &:hover { background-color: @clrLightLight; }
    }
    a.sub {
      font-size: 80%; padding-left: 2rem;
    }
    .hdrHamMenuSep {
      position: relative; float: left; width: 100%;
      margin: 0 0 0.5rem 0; height: 0; box-sizing: border-box; border-bottom: 1pt solid @clrLight;
    }
    #hdrHamLangs { padding-left: 0.2rem; }
    .langSel {
      width: auto; 
      padding: 0 0.3rem 0 0.3rem; margin: 0.4rem 0.5rem 0 0; border-radius: 0.1rem;
      font-family: @fntBase; font-weight: bold; font-size: 1.3rem;
      &:hover, &.on { color: @clrDefBg; background-color: @clrMedium; }
    }
  }
  &.openBurger {
    #burger { border: 1pt solid @clrMedium; border-bottom: 0; background-color: @clrDefBg; }
    #hdrHamMenu { display: block; }
  }
}

// Header > Home logo
#headerHome {
  z-index: 11;
  display: block; position: absolute; top: 0; left: 0; margin: 1.25rem 0 0 2.5rem; text-decoration: none;
  font-family: @fntSerif; font-size: 250%; color:@clrStrongAccent; cursor: pointer;
  span { display: block; position: relative; float: left; word-wrap: break-word; font-weight: normal; }
  #hdrHomeLatin { width: 1.64rem; font-size: 82%; line-height: 1.64rem; text-align: center; }
  #hdrHomeZho {
    width: 2.5rem; line-height: 2.5rem;
    font-family: @fntZho;
  }
  html.resplay-hamburger & { display: none; }
}

// Top header alternatives: search or menu
#headerStickFull .hdrAlt {
  width: 100%; position: absolute; top: 1rem; box-sizing: border-box; height: 4rem; padding: 0.4rem 0 0 0;
  overflow: hidden; opacity: 0; transition: opacity 0.8s ease;
  font-family: @fntSansAlt; font-size: 200%;
  z-index: 11;
  &.on { opacity: 1; z-index: 12; }
}

// Top header when it's the search input
#headerStickFull .hdrSearch {
  div, input, i { display: block; position: relative; float: left; }
  height: 6rem; display: none;
  &.on { display: block; }
  body.hdd & { height: 4rem; }
  .searchBox {
    box-sizing: border-box; height: 3.6rem; padding-right: 0.2rem;
    background-color: @clrLightLight; cursor: default;
    .txtSearch {
      font-size: 100%; background-color: @clrLightLight; color: @clrBodyText;
      font-family: sans-serif, "Microsoft YaHei Light", "Microsoft JhengHei", STXihei, STHeitiSC-Medium, DengXian;
      border: 0; width: 32rem; margin: 0.4rem 0 0.2rem 0.4rem;
    }
    i {
      height: 3.25rem; margin: 0.2rem 0 0 0; padding: 0.4rem 0.3rem 0 0.3rem; box-sizing: border-box;
      color: @clrMedium;
      &:hover { background-color: @clrLight; }
    }
  }
  &.corpus .btnWrite { visibility: hidden; }
  &.corpus .btnSettings { visibility: hidden; }
  .searchSelect {
    position: absolute; box-sizing: border-box; width: @contentWidth; height: 2rem;
    top: 3.8rem; cursor: default; background-color: @clrDefBg;
    .searchModeBox {
      box-sizing: border-box; width: auto; height: 2rem; border: 1pt solid @clrLightLight;
      .searchMode { 
        width: auto; height: 100%; padding: 0.3rem 1rem; font-size: 1rem; box-sizing: border-box;
        text-transform: uppercase; color: @clrStrong; background-color: @clrDefBg;
        display: block; text-decoration: none; position: relative; float: left; cursor: default;
        &.on, &.on:hover { background-color: @clrLightLight; }
        &:hover { background-color: @clrLight; }
      }
    }
    .searchModeInfo {
      display: block; position: relative; float: left; border: none; padding: 0.25rem 0.5rem;
      font-size: 1.5rem; color: @clrMedium; text-decoration: none; cursor: pointer;
      &:hover { color: @clrStrong; }
    }
  }
  &.welcome {
    .searchSelect { display: none; }
  }
  #toMenu {
    display: block; position: relative; float: left;
    box-sizing: border-box; height: 2rem; padding: 0.5rem 0.5rem 0.2rem 0.8rem;
    font-size: 120%; color: @clrMedium; cursor: default;
    &:hover { color: @clrStrong; }
  }
}

// FIXED: search hints: doesn't belong here in DOM, but logically, it shows right here.
#searchSuggestions {
  display: none; position: fixed; box-sizing: border-box; z-index: 12; top: 5rem; width: 40rem; font-size: 150%;
  height: auto; background-color: white; border: 1pt solid @clrLight;
  html.resplay-hamburger & { top: 6.3rem; left: 0.4rem; width: calc(100% - 2.4rem); }
  &.visible { display: block; }
  &.pending { color: #aaa; }
  div {
    position: relative; float: left; clear: both; width: 100%; cursor: default; padding: 0.15rem 0 0.15rem 0.45rem; box-sizing: border-box;
    &:hover { background-color: @clrLightLight; }
    &.active { background-color: @clrLight; }
    span.shadow { color: @clrGray; }
  }
}

// Top header when it's the first-level menu
#hdrMenu {
  .topMenu {
    display: inline-block; position: relative; float: left;
    padding: 0 0.6rem 0 0.6rem; margin-right: 0.4rem; border-radius: 0.2rem;
    color: @clrStrong; text-decoration: none;
    cursor: default; transition: opacity 0.2s ease;
    &:hover, &.on { background-color: @clrStrong; color: @clrDefBg; }
  }
  #hdrMenuRight {
    position: absolute; width: 9rem; left: 35.2rem;
    .langSel {
      display: inline-block; position: relative; float: right; 
      padding: 0 0.3rem 0 0.3rem; margin: 0.6rem 0.2rem 0 0; border-radius: 0.1rem;
      color: @clrMedium; text-decoration: none; cursor: default;
      font-family: @fntBase; font-weight: bold; font-size: 50%;
      &:hover, &.on { color: @clrDefBg; background-color: @clrMedium; }
    }
    .loginIcon {
      display: inline-block; position: relative; float: right; text-decoration: none;
      i { color: @clrMediumAccent; cursor: default; font-size: 80%; padding-top: 0; margin-left: 0.2rem; }
      i:hover { color: @clrStrongAccent; }
      &.loggedin i { color: @clrMediumGreen; }
      &.loggedin i:hover { color: @clrStrongGreen; }
      &.on i { color: @clrStrongAccent; }
      &.on.loggedin i { color: @clrStrongGreen; }
    }
  }
}

// Submenu, when top header is menu and an item that is not search is active
.subMenu {
  display: none; width: 100%; padding: 0 0 0 0.75rem;
  font-size: 150%; font-family: @fntSansAlt;
  &.visible { display: block; }
  span {
    margin-right: 1.5rem;
    a, span { 
      border-bottom: 0.3rem solid @clrDefBg; padding-bottom: 0.3rem;
      color: @clrStrong; text-decoration: none;
      transition: border 0.5s ease;
    }
    a:hover { border-bottom-color: @clrMedium; }
    &.on a { border-bottom-color: @clrStrong; }
    span { cursor: default; }
  }
  #smUserLogInOut {
    display: inline-block; position: relative; float: right; margin-right: 0;
    span { color: @clrStrongAccent; cursor: default; }
    &:hover span { color: @clrStrongRed; }
  }
  #smUserProfile { display: none; }
  #smUserProfile.visible { display: inline; }
}

// FIXED: gradient overlay to make content disappear nicely behind header
#headermask {
  position: fixed; top: 8rem; height: 2.3rem; width: 100%;
  background: url('/static/whitegradient.png');
  background-size: 100% 100%;
  z-index: 10;
  &.nosubmenu { top: 5rem; }
  body.hdd &.search { top: 5rem; }
  body.chd &.search { top: 6.8rem; }
  html.resplay-hamburger &, html.resplay-hamburger &.nosubmenu { top: 6.5rem; }
  html.resplay-hamburger body.hdd &.search { top: 6.5rem; }
  html.resplay-hamburger body.chd &.search { top: 8.5rem; }
}

// === COOKIE WARNING =============================


#bittercookie {
  display: none; position: fixed; bottom: 0; width: 100%; height: auto; overflow: hidden;
  text-align: center; background-color: #5a5a5a; color: white;
  margin-bottom: -1px; border: 0; padding: 4pt 0 4pt 0;
  font-family: @fntBase; font-size: 0.9rem;
  opacity: 0.9;
  a {
    background-color: #272727; color: white; text-decoration: none;
    padding: 2pt 4pt 2pt 4pt; margin-left: 3pt; margin-right: 3pt; cursor: default;
    border-radius: 3pt; white-space: nowrap;
    &:hover { color: #d9d9d9; }
  }
  div { box-sizing: border-box; position: relative; }
  & div:nth-child(1) { width: 150pt; float: right; padding: 0 10pt 0 0; text-align: left; line-height: 22pt; }
  html.resplay-hamburger & div:nth-child(1) { width: 90pt; }
  & div:nth-child(2) { float: none; width: auto; overflow: hidden; padding: 0 10pt 0 10pt; text-align: right; }
}


// === Login dialog =============================
// === My profile dialogs =======================

.userAccountDialog {
  .dlgInner {
    width: 25rem; padding: 0.2rem 0.2rem 1rem 0.2rem; box-sizing: border-box; height: auto; overflow: auto;
    display: none;
    &.visible { display: block; }
    div { position: relative; float: left; clear: both; box-sizing: border-box; }
    .sep { height: 1rem; }
    .fieldLabel { font-size: 1.1rem; font-weight: bold; }
    .lblNote { font-weight: normal; font-style: italic; }
    .note {
      font-size: 1rem; display: none;
      &.visible { display: block; }
      &.error { color: @clrStrongRed; }
      &.remark { font-style: italic; }
      &.hilite { background-color: @clrLightAccent; padding: 0.3rem; width: 100%; }
    }
    input {
      display: block; position: relative; float: left; clear: both; padding: 0.2rem 0.4rem 0.2rem 0.4rem;
      width: 100%; font-family: @fntBase; font-size: 1.2rem; text-align: center; height: 2.5rem; box-sizing: border-box;
      &.error { background-color: @clrLightRed; }
    }
    .pwdWrap {
      width: 100%; background-color: @clrLightLight;
      i { display: block; position: absolute; right: 0; font-size: 1.5rem; color: @clrMedium; margin: 0.5rem 0.5rem 0 0; cursor: default; }
      i:hover { color: @clrStrong; }
    }
    .linkCommand {
      float: right; cursor: pointer; color: @clrStrongAccent; font-size: 1rem; margin-bottom: 0.3rem;
      &:hover { color: @clrStrongRed; }
    }
    .loginCaptcha {
      float: left; width: 100%; height: auto; display: none;
      &.visible { display: block; }
    }
    a { text-decoration: none; color: @clrStrongAccent; }
    a:hover { color: @clrStrongRed; }
  }
}


// === General =============================

// Generic styling of input fields
textarea:focus, input:focus { outline: none; border: none; background-color: @clrLightLight; }
textarea, input { outline: none; border: none; background-color: @clrLightLight; color: @clrBodyText; }

// === STATIC CONTENT =============================

#dynPage .content {
  position: relative; float: left; width: 100%; font-size: 1.1rem;
  //line-height: 1rem;
  :first-child { margin-top: 0; }
  p, ul, li { line-height: 130%; margin-bottom: 0.7rem; }
  h2 { font-family: @fntSerif; font-size: 2rem; margin: 1.5rem 0 1rem 0; }
  h3 { font-family: @fntSansAlt; font-size: 1.3rem; margin: 1.5rem 0 0.5rem 0; }
  a { text-decoration: none; color: @clrStrongAccent; }
  a:hover { color: @clrStrongRed; }
  .inline-code { 
    font-family: monospace; font-size: 1rem; background-color: @clrLightLightGray; border-radius: 0.1rem; 
    padding: 0.05rem 0.2rem; display: inline-block;
  }
  .pre-wrap { overflow-x: scroll; background-color: @clrLightLightGray; margin-bottom: 0.7rem; }
  pre {
    font-size: 1rem; white-space: pre;
    padding: 0.5rem 0.5rem;
  }
  .pinyin { color: #606060; background-color: @clrLightLightGray; padding: 0 0.2rem; border-radius: 0.1rem; }
  &.faq h3, .faq-expand-all { cursor: pointer; color: @clrStrongRed; }
  div.faq-section { display: none; &.visible { display: block; } }
  img { 
    display: block; margin: 0 auto; max-width: 100%; height: auto; padding: 5px; box-sizing: border-box;
    //border: 2px solid lighten(@clrBodyText, 65%); 
  }
}


// === ALERT BAR =============================
.alertBar {
  z-index: 15;
  position: fixed; top: 3.2rem; width: 100%;
  .alert {
    position: relative; margin: 0 auto 0 auto; box-shadow: 0 0 0.1rem #505050;
    width: 32rem; min-height: 2rem; padding: 0.5rem 0.5rem 0.7rem 0.5rem;
    font-size: 1rem; text-align: center;
    opacity: 0; transition: opacity 0.75s ease;
    &.visible { opacity: 1; }
    &.hidden { opacity: 0; transition: opacity 2s ease; }
    &.alertOK { border: 1px solid @clrStrongGreen; background-color: #f1f9eb; }
    &.alertFail { border: 1px solid @clrStrongRed; background-color: @clrLightRed; }
    .alertMessage { margin-right: 2rem; }
    .alertTitle { font-weight: bold; }
    &.alertFail .alertTile { color: @clrStrongRed; }
    .alertClose { position: absolute; top: 0.3rem; left: 31rem; cursor: pointer; }
    .alertClose img { width: 1.5rem; height: 1.5rem; }
  }
}

// === GENERIC MODAL POPUP =============================
.modalPopup {
  z-index: 11;
  position: fixed; width: 100%; top: 8rem; left: 0;
  .modalPopupInner1 { position: relative; float: left; left: 50%; }
  .modalPopupInner2 {
    position: relative; float: left; left: -50%;
    background: @clrDefBg; border: 1pt solid @clrMedium;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, .7);
  }
  .modalPopupHeader {
    position: relative; width: 100%; box-sizing: border-box; padding: 0; height: 2rem;
    background-color: @clrMedium;
    font-size: 110%; font-family: @fntSansAlt; color: @clrDefBg; cursor: default;
  }
  .modalPopupTitle {
    display: inline-block; position: absolute;
    margin-left: 0.5rem; margin-top: 0.2rem; left: 0;
  }
  .modalPopupClose {
    display: inline-block; position: relative; float: right; box-sizing: border-box;
    width: 2rem; height: 2rem; padding-top: 0.2rem;border-bottom: 1pt solid @clrMedium;
    background-color: @clrLight; text-align: center; color: @clrMedium;
    transition: background-color 0.5s ease;
    cursor: default;
    &:hover { background-color: @clrLightLight; }
  }
  .modalPopupBody {
    position: relative; float: left; clear: both; width: 100%;
    box-sizing: border-box; padding: 0.5rem 0.5rem 0 0.5rem;
    font-size: 90%;
  }
  .modalPopupButtons { position: relative; float: left; clear: both; width: 100%; box-sizing: border-box; padding: 0.7rem; }
  .modalPopupWorking {
    display: none; position: relative; float: left; box-sizing: border-box;
    color: @clrStrong; margin-left: 0.2rem; font-size: 1.2rem;
    &.visible { display: block; }
  }
  .modalPopupButton {
    display: block; position: relative; float: right; box-sizing: border-box;
    margin-left: 0.5rem; padding: 0.1rem 1rem 0.2rem 1rem;
    background-color: @clrLightAccent; transition: background-color 0.5s ease;
    cursor: default;
    &:hover { background-color: @clrMediumAccent; }
    &.modalPopupButtonCancel { background-color: @clrLightLight; }
    &.modalPopupButtonCancel:hover { background-color: @clrLight; }
    &.hidden { display: none; }
    &.modalPopupButtonOK.disabled { background-color: @clrGray; color: @clrDefBg; }
  }
}
