<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Kínai ⇔ magyar kereső</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name='robots' content='noindex,nofollow' />
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,600" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="/dev-style/style.css">
</head>
<body>
  <div class="centrer">
    <div class="search">
      <input type="text" id="txtSearch" placeholder="Kínai vagy magyar keresőszöveg (Enter)" maxlength="64" />
    </div>
    <div class="results">
    </div>
  </div>


  <script src="/lib/history.min.js"></script>
  <script src="/lib/jquery-3.1.1.min.js"></script>
  <script src="/dev-js/zsnippets.js"></script>
  <script src="/dev-js/page.js"></script>
  <script src="/dev-js/main.js"></script>
</body>
</html>
